# Basic website information configuration
site_name: ZhiZu.io
site_url: https://nry2025.xyz
# Website Style Configuration
theme:
  name: material
  custom_dir: overrides
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil 
    view: material/eye
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: pink
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - search.share
    - navigation.footer
    - content.code.copy
    - content.action.view
    - content.action.edit
    - announce.dismiss

# extra:
extra:
  generator: false
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  social:
    - icon: simple/tiktok
      link: https://m.douyin.com/share/user/MS4wLjABAAAAdPlGRhTw_UP9160A74vVBlN0CemdTOb2IcNT0aie3N7WqwkGjwmF7H9L70udMVRe
    - icon: simple/github
      link: https://github.com/ioit-aaa

# Copyright Information Configuration
copyright: >
  Copyright &copy; 2025 <a href="https://nry2025.xyz">ZhiZu.io</a> –
  <a href="#__consent">Change cookie settings</a> – <a href='about'>About</a>

# Plugin Configuration
plugins:
  - search
  - blog
  - meta
  - git-committers:
      repository: ioit-aaa/ioit-aaa.github.io
      branch: main
  - git-revision-date-localized:
      enable_creation_date: true

# Draft an extension
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.critic
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.keys
  - pymdownx.details
  - admonition
  - attr_list
  - md_in_html
  - def_list
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

# Git Repo
repo_url: https://github.com/ioit-aaa/ioit-aaa.github.io
repo_name: ioit-aaa/ioit-aaa.github.io
edit_uri: edit/main/docs/